@import "normal.css";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --backgroundC:white;
    --darkBackground:#303B5B;
    --textC:#303b5b;
    --textCs:#d8f2f3;
    --purple: #b7a1f3;
}

body{
    background-color:var(--backgroundC);
    color: var(--textC);
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.container{
    margin: auto;
    padding-bottom: 2rem;
    width: 80%;
    margin-left: 20%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Heebo", sans-serif;
}

h1{
    text-align: center;
}

p{
    max-width: 105ch;
    margin: auto;
    padding-top: .5rem;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: var(--textC);
    text-decoration: none;
}

footer{
    text-align: center;
    color: var(--textC);
    padding: 2.5rem;
    width: 80%;
    margin-left: 20%;
}

button, .links{
    background-color: var(--darkBackground);
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    color: var(--textCs);
}

button:hover, .links:hover{
    background-color: var(--purple);
}

.anButton{
    padding: 1rem 2rem;
    margin: 0;
}

.button, .links{
    width: fit-content;
}

.buttonCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusButtons{
    padding: .5rem;
    width: 35%;
}

img{
    width: 75%;
    display: inline-block;
    text-align: center;
    margin: auto;
    display: block;
}

.section{
    padding-top: 1rem;
}

.section li{
    padding-top: .5rem;
}

iframe{
    margin: auto;
    display: block;
}

#unity-container{
    width: fit-content;
    margin: auto;
}

/* Menu */

.menu-sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    background: var(--darkBackground);
    height:100%;
    position:fixed!important;
    top: 0;
    justify-content: start;
    color: var(--textCs);
}

.menu-button{
    margin-left: 25%;
    padding: 1rem;
    color: var(--textCs);
    text-decoration: none;
}

.menu-button:hover{
    background: white;
    color: var(--textC);
}